<%# encoding: UTF-8 %>
<div id="table_title"><%= table.title %> </div>
<div id="filter">Find your state: <input type="text"></div>
<div id="deck">
 <%= table.deck %>
   <div id="disease_descriptions" class="deck_tile">
               <div id="explanation">

               </div>
               <div id="EcoliO157"><img src="http://assets.news21.com/2011/response/images/real_EcoliO157.jpg"><p><strong>E. coli O157</strong> is the most common type of E. coli that produces the dangerous shiga toxin, which can cause kidney failure and death. Food contaminated with feces, such as undercooked ground beef, raw produce and unpasteurized milk and juices, cause infection. Symptoms include bloody diarrhea and vomiting.  About 63,000 cases of E. coli O157 occur in the U.S. each year.</p></div>
               <div id="Cryptosporidium"><img src="http://assets.news21.com/2011/response/images/real_cryptosporidium.jpg"><p><strong>Cryptosporidium</strong> is a parasite found in contaminated food, water and soil that causes watery diarrhea and nausea in more than 50,000 people in the U.S. each year. Infections are passed through fecal material of an infected person or animal. Numerous outbreaks linked to untreated drinking water have occurred in the U.S., including a 1993 outbreak in Milwaukee that sickened over 400,000 and killed about 70.
</p></div>
               <div id="Salmonella"><img src="http://assets.news21.com/2011/response/images/real_salmonella.jpg"><p><strong>Salmonella</strong> causes diarrhea, fever, and abdominal cramps in more than a million people each year in the U.S., causing more hospitalizations and deaths than any other foodborne illness. Young children are five times more likely to be infected. Many different foods harbor the bacteria, including undercooked beef and poultry, unpasteurized milk, raw eggs and vegetables.</p> </div>
               <div id="Giardia"><img src="http://assets.news21.com/2011/response/images/real_giardia.jpg"><p><strong>Giardia</strong> is a contagious parasite, which can cause diarrhea, nausea and deadly dehydration. It’s found in feces of infected humans and animals and most transmission is person-to-person, though water and food can also act as carriers. Lakes, wells and swimming pools sometimes contain the parasite.  More than 76,000 people are sickened by Giardia each year.</p> </div>
               <div id="StreptococcusGroupA"><img src="http://assets.news21.com/2011/response/images/real_streptococcus.jpg"><p><strong>Streptococcus Group A</strong> is bacteria commonly found in the throat and on the skin that can cause strep throat.  It spreads from when people with the infection come into direct contact with healthy people.   Though foodborne Streptococcus Group A sickens more than 11,000 people in the U.S. each year, it is extremely rare that it causes serious illness. </p></div>
               <div id="Shigella"><img src="http://assets.news21.com/2011/response/images/real_shigella.jpg"><p><strong>Shigella</strong> can cause bloody diarrhea, fever and stomach cramps. It occurs when traces of feces finds its way into a person’s mouth, which “happens more often than we would like to think about,” according to CDC, particularly when safe food-handling practices are not followed. The bacteria sicken more than 130,000 peope each year. Children are most susceptible to illness. </p></div>
               <div id="OtherShigatoxinEcoli"><img src="http://assets.news21.com/2011/response/images/real_EcoliO157.jpg"><p><strong>Non-O157 STEC</strong> (Shiga toxin-producing E. Coli) cause bloody diarrhea and vomiting, sometimes resulting in kidney failure and death. It can be found in undercooked ground beef, raw produce and unpasteurized milk and juices. Nearly 185,000 cases of STEC occur in the U.S. each year, and about two-thirds are non-O157.  In May 2011, an outbreak of non-O157 STEC in Germany sickened more than 3,000 people, causing kidney failure in more than 800.</p></div>
               <div id="HepatitisA"><img src="http://assets.news21.com/2011/response/images/real_salmonella.jpg"><p><strong>Hepatitis A</strong> Jowl ball tip turkey, chicken venison rump pastrami sirloin chuck boudin. Corned beef flank chuck, pork loin swine strip steak ball tip cow ground round shankle tri-tip. Boudin ground round strip steak biltong cow corned beef sausage pork chop salami, swine jerky tenderloin.</p></div>
               <div id="Vparahaemolyticus"><img src="http://assets.news21.com/2011/response/images/real_vpara.jpg"><p><strong>Vibrio Parahaemolyticus</strong> causes watery diarrhea, vomiting, fever and chills. Symptoms develop rapidly, usually within 24 hours of eating raw or undercooked shellfish, particularly oysters, and last around three days. Open wound exposure to warm seawater can also cause infection. About 35,000 cases occur in the U.S. each year.</p></div>
               <div id="Vvulnificus"><img src="http://assets.news21.com/2011/response/images/real_vvulnificus.jpg"><p><strong>Vibrio Vulnificus</strong> causes vomiting and diarrhea. Eating contaminated shellfish and exposing open wounds to warm seawater can lead to infection. It is a rare but underreported disease, and most cases occur in Gulf Coast states. People with weak immune systems are 80 times as likely to develop a bloodstream infection, which is fatal half of the time.</p></div>
               <div id="OtherVibrio"><img src="http://assets.news21.com/2011/response/images/real_vpara.jpg"><p><strong>Other Vibrio</strong> cause diarrhea and vomiting from eating raw or undercooked seafood, particularly oysters. Open wound exposure to warm seawater can also cause infection. About 17,500 cases occur in the U.S. each year.</p></div>
               <div id="Listeria"><img src="http://assets.news21.com/2011/response/images/real_listeria.jpg"><p><strong>Listeria</strong> is found in soil and water and can be carried by animals, which can lead to infection in meat and dairy products, including hot dogs and unpasteurized cheese.  Symptoms include fever and muscle aches. In pregnant women, who are 20 times more likely to be infected than other healthy adults, Listeria can cause miscarriage. About 1,600 people are sickened by Listeria each year in the U.S., causing 260 deaths.</p></div>
               <div id="TyphoidFever"><img src="http://assets.news21.com/2011/response/images/real_salmonella.jpg"><p><strong>Typhoid Fever</strong> is a strain of Salmonella that causes high fevers, headaches, stomach pains and can lead to death if not treated. Globally, typhoid fever sickens more than 20 million annually, because water is more likely to be contaminated with sewage and hand washing is less common. Nearly 2,000 cases of typhoid fever occur in the U.S. each year, and 75 percent are linked to international travel.</p></div>
               <div id="Cyclospora"><img src="http://assets.news21.com/2011/response/images/real_cyclospora.jpg"><p><strong>Cyclospora</strong> is a parasite that causes watery diarrhea and sometimes explosive bowel movements from water or food tainted with feces. Other symptoms include bloating, vomiting and fever. Cyclospora is typically found in tropical and subtropical developing countries, but outbreaks in the U.S. have been linked to imported fresh produce.  Cyclospora sickens more than 11,000 people in the U.S. each year.</p></div>
               <div id="Brucella"><img src="http://assets.news21.com/2011/response/images/real_salmonella.jpg"><p><strong>Brucella</strong> is typically transmitted through unpasteurized milk products and can cause flu-like symptoms, including fever, headaches, back pains and fatigue. Direct person-to-person infection is extremely rare. The most severe cases can infect the central nervous systems and lining of the heart. Brucella sickens more than 800 people in the U.S. each year.</p></div>
               <div id="Botulism"><img src="http://assets.news21.com/2011/response/images/real_salmonella.jpg"><p><strong>Botulism</strong> is a muscle-paralyzing disease that can lead to blurred vision, drooping eyelids and slurred speech. Some infections lead to paralysis of breathing muscles and death. Outbreaks of botulism are usually linked to home-canned preserved foods. About 50 people are sickened by botulism each year in the U.S.</p></div>
               <div id="Staphylococcusaureus"><img src="http://assets.news21.com/2011/response/images/real_salmonella.jpg"><p><strong>Staphylococcus Aureus</strong>, or staph, is found on the skin and in the noses of up to a quarter of humans and animals. Food handlers with staph can contaminate food when they don’t wash their hands. Symptoms develop rapidly, usually within one to six hours, and include nausea, vomiting and diarrhea.  More than 240,000 people are sickened from staph in the U.S. each year.</p></div>
               <div id="Cholera"><img src="http://assets.news21.com/2011/response/images/real_vvulnificus.jpg"><p><strong>Cholera</strong> is caused by fecal contamination of water and food from an infected person and can spread rapidly in areas with poor water treatment. The U.S. averages six cases a year, but millions of cases occur globally. Cholera is usually mild, but about five percent of infections lead to profuse watery diarrhea and vomiting. Rapid fluid loss can cause dehydration and death within hours.</p></div>
               <div id="Trichinella"><img src="http://assets.news21.com/2011/response/images/real_trichinella.jpg"><p><strong>Trichinella</strong> is a species of worm found in undercooked meats, particularly bear, pork, fox, dog, wolf, horse, seal and walrus. Once common, trichinella is now rare, causing about 150 illnesses in the U.S. each year.  Vomiting, diarrhea and fever often occur within one to two days; further symptoms, including chills, eye swelling and muscle pains typically start after two to eight weeks. Severe infections can lead to death.</p></div>
               <div id="MycobacteriumBovis"><img src="http://assets.news21.com/2011/response/images/real_salmonella.jpg"><p><strong>Mycobacterium Bovis</strong> causes tuberculosis in cattle and is responsible for less than one percent of tuberculosis cases in the U.S. Infections usually occur from drinking unpasteurized milk. Symptoms, which don’t normally appear until months after infection, include fever, diarrhea, neck swelling and death if left untreated. (Source: NYC DOHMH)</p></div>
       </div>
</div>
<!-- 
<div id="controls">
  <% if !table.faceted? %>
    <% if !table.hard_paginate? %>
     <div id="filter">Filter: <input type="text"></div>
    <% end %>
    <% if table.per_page > 0 %>
      <div id="pager" class="pager">
        <form>
          <a href="<%= url_for "/#{table.slug}/#{table.prev_page}/" if !table.prev_page.nil? %>" class="prev">prev</a>
          <span class="pagedisplay"/><%= "#{table.page} / #{table.total_pages}" if table.hard_paginate? %></span>
          <a href="<%= url_for "/#{table.slug}/#{table.next_page}/" if !table.next_page.nil? %>" class="next">next</a>
          <% if !table.hard_paginate? %>
            <select class="pagesize">
              <% (1..4).each do |count|%>
                <option value="<%= table.per_page * count%>">
                <%= table.per_page * count%></option>
              <% end %>
            </select>
          <% end %>
        </form>
      </div>
    <% end %>
  <% end %>
</div> -->
<img id="occurrence" src="http://assets.news21.com/2011/response/images/bar.jpg">
<table id="data" class="tabular">
  <thead>
    <tr>
    <% if table.faceted? %>
      <th></th>
    <% end %>
    <% table.data.headers.each do |header| %>
      <% unless header.ignored? %>
        <th<%= " style=\"#{header.style}\"" %> <% if header.to_s == "State" %>class="state"<% end %>><p><%= header %></p></th>
      <% end %>
    <% end %>
    </tr>
  </thead>
  <tfoot>
  </tfoot>
  <tbody>
    <% if table.faceted? %>
      <% table.facets.each do |facet| %>
        <tr>
          <th style="text-align:left;"><%= facet.faceted_on %></th>
          <% facet.headers.each_with_index do |header, i| %>
            <% unless i == 0 %>
              <th style="<%= header.style %>">
                <%= facet.total_for(header.to_s).to_s if header.total? %>
              </th>
            <% end %>
          <% end %>
        </tr>
        <% facet.rows.each do |row| %>
          <tr>
            <td></td>
            <% row.columns.each do |column| %>
              <% unless column.ignored? %>
                <td <%= "style=\"#{column.style}\"" %>><%= column %></td>
              <% end %>
            <% end %>
          </tr>
        <% end %>
      <% end %>
    <% else %>
      <% table.data.rows.each do |row| %>
        <tr>
          <% row.columns.each do |column| %>
            <% unless column.ignored? %>
              <td<%= " style=\"#{column.style}\"" %>><%= column %></td>
            <% end %>
          <% end %>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
<div><%= table.footer %></div>
