<%# encoding: UTF-8 %>
<div id="table_title"><%= table.title %> </div>
<div id="filter">Find your state: <input type="text"></div>
<div id="deck">
 <%= table.deck %>
   <div id="disease_descriptions" class="deck_tile">
               <div id="explanation">

               </div>
               <div id="EcoliO157"><img src="http://assets.news21.com/2011/response/images/real_EcoliO157.jpg" title="Elizabeth H. White, M.S. 1995"><p><strong>E. coli O157</strong> is the most common type of E. coli containing the dangerous shiga toxin, which causes bloody diarrhea and can lead to kidney failure and death. Foods often contaminated with feces, such as raw ground beef and produce, cause infection. About 63,000 cases of E. coli O157 occur in the U.S. each year. See if your state requires isolate submission for more effective outbreak detection.</p></div>
               
               <div id="Cryptosporidium"><img src="http://assets.news21.com/2011/response/images/real_cryptosporidium.jpg" title="CDC"><p><strong>Cryptosporidium</strong> is a parasite found in contaminated food, water and soil that causes watery diarrhea and nausea in more than 50,000 people in the U.S. each year. Infections are passed through fecal material of an infected person or animal. Numerous outbreaks linked to untreated drinking water have occurred in the U.S.</p></div>
               
               <div id="Salmonella"><img src="http://www.sciencephoto.com/image/11239/530wm/B2200630-Salmonella_enteritidis_bacterium-SPL.jpg" height="96" width="96" title="Janice Haney Carr 2009"><p><strong>Salmonella</strong> sickens more than a million people with diarrhea, fever and stomach cramps each year in the U.S., causing more hospitalizations and deaths than any other foodborne illness. Various foods harbor the bacteria, including raw poultry, eggs and produce.  See if your state requires isolate submission for more effective outbreak detection.</p> </div>
               
               <div id="Giardia"><img src="http://assets.news21.com/2011/response/images/real_giardia.jpg" title="Dr. Stan Erlandsen 1999"><p><strong>Giardia</strong> is a parasite that causes diarrhea, nausea and potentially deadly dehydration. It is found in the feces of infected humans and most transmission is person-to-person. Food and water can also be carriers, with lakes and swimming pools sometimes containing the parasite. Giardia sickens more than 76,000 people each year.</p> </div>
               
               <div id="StreptococcusGroupA"><img src="http://www.sciencephoto.com/image/12925/530wm/B2360037-Streptococcus_pneumoniae_bacteria-SPL.jpg" height="96" width="96"><p><strong>Streptococcus Group A</strong> is bacteria commonly found in the throat and on the skin that can cause strep throat.  Infection is contagious and foodborne Streptococcus Group A sickens more than 11,000 people in the U.S. each year, though it rarely causes serious illness. </p></div>
               
               <div id="Shigella"><img src="http://assets.news21.com/2011/response/images/real_shigella.jpg" title="CDC 1980"><p><strong>Shigella</strong> can cause bloody diarrhea, fever and stomach cramps. It occurs when traces of feces finds its way into a person’s mouth, which often happens when safe food-handling practices are not followed. The bacteria sicken more than 130,000 people each year. See if your state requires isolate submission for more effective outbreak detection. </p></div>
               
               <div id="OtherShigatoxinEcoli"><img src="http://www.sciencephoto.com/image/153887/530wm/C0091207-E._coli_bacteria,_SEM-SPL.jpg"  height="96" width="96"><p><strong>Non-O157 STEC</strong> (Shiga toxin-producing E. coli) cause bloody diarrhea and vomiting, and can result in kidney failure and death. It can be found in undercooked ground beef, raw produce and unpasteurized milk and juices. Nearly 185,000 cases of STEC occur in the U.S. each year, and about two-thirds are non-O157.</p></div>
               
               <div id="HepatitisA"><img src="http://www.sciencephoto.com/image/249528/530wm/M0560063-Hepatitis_A_viruses-SPL.jpg" height="96" width="96"><p><strong>Hepititis A</strong> causes fever, nausea and vomiting and is transmitted through water and undercooked food contaminated with feces.  Symptoms typically last less than two months. Hepatitis A sickens about 1,500 people each year in the U.S.</p></div>
               
               <div id="Vparahaemolyticus"><img src="http://assets.news21.com/2011/response/images/real_vpara.jpg" title=" CDC/Janice Carr 2005"><p><strong>Vibrio Parahaemolyticus</strong> causes watery diarrhea, vomiting, fever and chills. Symptoms develop rapidly, usually within 24 hours of eating raw or undercooked shellfish, particularly oysters, and last around three days. Open wound exposure to warm seawater can also cause infection. About 35,000 cases occur in the U.S. each year.</p></div>
               
               <div id="Vvulnificus"><img src="http://assets.news21.com/2011/response/images/real_vvulnificus.jpg" title="Janice Carr 2005"><p><strong>Vibrio Vulnificus</strong> is bacteria that causes vomiting and diarrhea. Contaminated shellfish is the most common source of infection. It is a rare illness, and most cases occur in Gulf Coast states. People with weak immune systems are 80 times as likely to develop a bloodstream infection, which is fatal half of the time. <p></div>
               
               <div id="OtherVibrio"><img src="http://www.sciencephoto.com/image/11912/530wm/B2201350-Cholera_bacteria,_TEM-SPL.jpg" height="96" width="96" ><p><strong>Other Vibrio</strong> cause diarrhea and vomiting from eating raw or undercooked seafood, particularly oysters. Open wound exposure to warm seawater can also cause infection. About 17,500 cases occur in the U.S. each year.</p></div>
               
               <div id="Listeria"><img src="http://assets.news21.com/2011/response/images/real_listeria.jpg" title="CDC 2002"><p><strong>Listeria</strong> is found in soil and water and can infect meat and dairy products such as hot dogs and unpasteurized cheese. Symptoms include fever and muscle aches. In pregnant women, who are 20 times as likely to be infected, listeria can cause miscarriage. Listeria sickens 1,600 people a year in the U.S., causing 260 deaths.  See if your state requires isolate submission for more effective outbreak detection.</p></div>
               
               <div id="TyphoidFever"><img src="http://www.sciencephoto.com/image/147968/530wm/C0085049-Salmonella_typhimurium,_TEM-SPL.jpg"  height="96" width="96" ><p><strong>Typhoid Fever</strong> is a strain of Salmonella that causes high fevers, stomach pains and possibly death, if untreated. Globally, it sickens more than 20 million people each year, particularly in countries with unsanitary water. Nearly 2,000 cases of typhoid fever occur in the U.S. each year, with most linked to international travel. </p></div>
               
               <div id="Cyclospora"><img src="http://assets.news21.com/2011/response/images/real_cyclospora.jpg" title="CDC"><p><strong>Cyclospora</strong> causes watery diarrhea, bloating, vomiting and sometimes explosive bowel movements and is found in water or food tainted with feces. The parasite is typically found in tropical climates, but outbreaks in the U.S. have been linked to imported fruit. Cyclospora sickens more than 11,000 people in the U.S. each year.</p></div>
               
               <div id="Brucella"><img src="http://www.sciencephoto.com/image/10890/530wm/B2200187-Colony_of_Brucella_sp._bacteria-SPL.jpg" height="96" width="96" ><p><strong>Brucella</strong> is typically transmitted through unpasteurized milk products and can cause flu-like symptoms, including fever, headaches and fatigue. Direct person-to-person infection is extremely rare. Brucella sickens more than 800 people in the U.S. each year, causing more than 50 hospitalizations, but is rarely fatal.</p></div>
               
               <div id="Botulism"><img src="http://www.sciencephoto.com/image/11184/530wm/B2200560-Clostridium_bacteria-SPL.jpg" height="96" width="96"><p><strong>Botulism</strong> is a muscle-paralyzing disease that can lead to blurred vision, drooping eyelids and slurred speech. Some infections lead to paralysis of breathing muscles and death. Outbreaks of botulism are usually linked to home-canned preserved foods. About 50 people are sickened by botulism each year in the U.S.</p></div>
               
               <div id="Staphylococcusaureus"><img src="http://assets.news21.com/2011/response/images/real_salmonella.jpg" title="Matthew J. Arduino 2001"><p><strong>Staphylococcus Aureus</strong>, or staph, is commonly found in up to a quarter of humans and animals. Food handlers with staph can contaminate food when they don’t wash their hands. Symptoms develop within hours and include nausea, vomiting and diarrhea. More than 240,000 people are sickened from staph each year in the U.S.</p></div>
               
               <div id="Cholera"><img src="http://www.sciencephoto.com/image/10846/530wm/B2200139-Vibrio_cholerae_bacterium-SPL.jpg"  height="96" width="96"><p><strong>Cholera</strong> is caused by fecal contamination of water and food from an infected person, and can spread rapidly in areas with poor sanitation. The U.S. averages six cases a year, but millions of cases occur globally. About half of cholera cases result in hospitalization and infection can cause dehydration and death within hours.</p></div>
               
               <div id="Trichinella"><img src="http://www.sciencephoto.com/image/156132/530wm/C0093519-LM_of_Trichinella_in_Muscle-SPL.jpg" height="96" width="96"  ><p><strong>Trichinella</strong> is found in undercooked meats, including pork, dog, wolf, horse, seal and walrus. Once common, trichinella is now rare, causing about 150 illnesses in the U.S. each year. Vomiting, diarrhea and fever occur within days; chills, eye swelling and muscle pains start after two to eight weeks. Severe infections can lead to death.</p></div>
               
               <div id="MycobacteriumBovis"><img src="http://www.sciencephoto.com/image/11913/530wm/B2201351-Mycobacterium_bovis,_TEM-SPL.jpg" height="96" width="96"><p><strong>Mycobacterium Bovis</strong> causes tuberculosis in cattle and is responsible for less than one percent of tuberculosis cases in the U.S. Infections usually occur from drinking unpasteurized milk. Symptoms, which don’t normally appear until months after infection, include fever, diarrhea, neck swelling and death if left untreated. </p></div>
       </div>


<!-- 
<div id="controls">
  <% if !table.faceted? %>
    <% if !table.hard_paginate? %>
     <div id="filter">Filter: <input type="text"></div>
    <% end %>
    <% if table.per_page > 0 %>
      <div id="pager" class="pager">
        <form>
          <a href="<%= url_for "/#{table.slug}/#{table.prev_page}/" if !table.prev_page.nil? %>" class="prev">prev</a>
          <span class="pagedisplay"/><%= "#{table.page} / #{table.total_pages}" if table.hard_paginate? %></span>
          <a href="<%= url_for "/#{table.slug}/#{table.next_page}/" if !table.next_page.nil? %>" class="next">next</a>
          <% if !table.hard_paginate? %>
            <select class="pagesize">
              <% (1..4).each do |count|%>
                <option value="<%= table.per_page * count%>">
                <%= table.per_page * count%></option>
              <% end %>
            </select>
          <% end %>
        </form>
      </div>
    <% end %>
  <% end %>
</div> -->
<img id="occurrence" src="/images/bar.jpg">
<table id="data" class="tabular">
  <thead>
    <tr>
    <% if table.faceted? %>
      <th></th>
    <% end %>
    <% table.data.headers.each do |header| %>
      <% unless header.ignored? %>
        <th<%= " style=\"#{header.style}\"" %> <% if header.to_s == "State" %>class="state"<% end %>><p><%= header %></p></th>
      <% end %>
    <% end %>
    </tr>
  </thead>
  <tfoot>
  </tfoot>
  <tbody>
    <% if table.faceted? %>
      <% table.facets.each do |facet| %>
        <tr>
          <th style="text-align:left;"><%= facet.faceted_on %></th>
          <% facet.headers.each_with_index do |header, i| %>
            <% unless i == 0 %>
              <th style="<%= header.style %>">
                <%= facet.total_for(header.to_s).to_s if header.total? %>
              </th>
            <% end %>
          <% end %>
        </tr>
        <% facet.rows.each do |row| %>
          <tr>
            <td></td>
            <% row.columns.each do |column| %>
              <% unless column.ignored? %>
                <td <%= "style=\"#{column.style}\"" %>><%= column %></td>
              <% end %>
            <% end %>
          </tr>
        <% end %>
      <% end %>
    <% else %>
      <% table.data.rows.each do |row| %>
        <tr>
          <% row.columns.each do |column| %>
            <% unless column.ignored? %>
              <td<%= " style=\"#{column.style}\"" %>><%= column %></td>
            <% end %>
          <% end %>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
<div><%= table.footer %></div>
